@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
    --done-transition-duration: 0.5s;
    --main-ui-padding-top: 30vh;
}

a {
    color: darkcyan;
}
a:visited {
    color: darkviolet;
}

#viewport {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    flex-grow: 1;
    width: 600px;
    margin: 0 auto;
}

#info-box {
    position: absolute;
    top: calc(var(--main-ui-padding-top) * 0.8);
}

#info-box.hidden {
    visibility: hidden;
}

#info-box button {
    display: block;
    margin: 0 auto;
}

#main-ui {
    padding-top: var(--main-ui-padding-top);
    transition-property: padding-top;
    transition-duration: var(--done-transition-duration);
}

#main-ui.done {
    padding-top: 1em;
    transition-duration: var(--done-transition-duration);
}

#main-ui.hidden {
    filter: blur(3px) brightness(1.2);
}

#main-ui, .ui-container {
    width: fit-content;
    margin: auto;
}

.ui-container {
    overflow: hidden;
}

.ui-container * {
    margin: auto 5px auto;
}

.ui-container button {
    font-size: 20px;
    background: lightgray;
    border-width: 0px;
    border-radius: 5px;
    padding: 0.2em 0.7em 0.2em;
    color: #444;
}

.ui-visible {
    height: 40px;
    opacity: initial;
    transition-property: height, opacity;
    transition-duration: var(--done-transition-duration);
}

.ui-hidden {
    height: 0;
    opacity: 0;
    transition-property: height, opacity;
    transition-duration: var(--done-transition-duration);
}

#spure-ui {
    display: flex;
}

#spure {
    font-size: 24px;
    width: 12em;
    border-width: 0px;
    border-bottom: 1px solid black;
    transition: border-color 0.1s 0.5s;
    user-select: none;
}

#spure:focus {
    outline: none;
}

#spure:valid {
    border-color: transparent;
    transition: border-color 0.5s 2s;
}

#spure-ui-buttons {
    display: flex;
    align-items: center;
    transition-property: width, padding-left, padding-right, opacity;
    overflow: hidden;
}

#spure-ui-buttons.not-writing-visible {
    width: 9em;
}

#spure-ui-buttons.writing-hidden {
    width: 0;
    padding-left: 0; padding-right: 0;
}

#info-button {
    width: 28px;
    height: 28px;
    background: transparent;
    border-width: 0.5mm;
    border-color: #888;
    border-style: ridge;
    border-width: 0.1px;
    border-radius: 14px;
    font-size: 16px;
    font-family: monospace;
    color: #555;
    padding: 0;
}

#info-button:hover {
    background: lightblue;
}

.not-writing-visible {
    opacity: initial;
    transition-property: opacity;
    transition-duration: 0.4s;
}

.writing-hidden {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-delay: 1s;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 auto 0.8em;
    font-size: smaller;
    color: #666;
}
