@import '../node_modules/modern-normalize/modern-normalize.css';

a {
    color: darkcyan;
}
a:visited {
    color: darkviolet;
}

#viewport {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-rows:
        minmax(0, 3fr)
        auto
        minmax(0, 6fr)
}

main.done {
    grid-template-rows: 1em 40px auto;
}

#main-ui {
    width: fit-content;
    margin: 0 auto;
    grid-row: 2;
}

#main-ui * {
    margin: 0 5px 0;
}

#main-ui button {
    font-size: 20px;
    background: lightgray;
    border-width: 0px;
    border-radius: 5px;
    margin-bottom: -5px;
    padding: 0.2em 0.7em 0.2em;
    color: #444;
}

#spure {
    font-size: 24px;
    width: 12em;
    border-width: 0px;
    border-bottom: 1px solid black;
    transition: border-color 0.1s 0.5s;
    user-select: none;
}

#spure:focus {
    outline: none;
}

#spure:valid {
    border-color: transparent;
    transition: border-color 0.5s 2s;
}

#done-button {
    transition-property: width, padding-left, padding-right, opacity;
    overflow: hidden;
}

#done-button.not-writing-visible {
    width: 4em;
}

#done-button.writing-hidden {
    width: 0;
    padding-left: 0; padding-right: 0;
}

#output {
    grid-row: 3;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 auto 0.8em;
    font-size: smaller;
    color: #666;
}

.not-writing-visible {
    opacity: initial;
    transition-property: opacity;
    transition-duration: 0.4s;
}

.writing-hidden {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.8s;
    transition-delay: 1s;
}
